<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="text-decoration-none">
      <%= link_to "Movie List", lists_path, class: "text-decoration-none text-reset"%>
    </h1>
    <p class="lead">All your favourite movies ... in a list.</p>
  </div>
</div>
